 <body>
 <header>
  <div class ="container">
    <div class="header-left">
         <h1>漫画一覧</h1>
    </div>
    <div class="out">
      <% if user_signed_in? %>
      <p><%= link_to"ログアウト", destroy_user_session_path,  method: :delete, class:"btn-wrapper" %></p>
      <p><%= link_to"マイページ", user_path(current_user), method: :get, class:"btn-wrapper" %></p>
      <% else %>
      <p><%= link_to"ログイン",new_user_session_path, method: :get, class:"btn-wrapper"  %></p>
      <p><%= link_to"サインイン",new_user_registration_path, class:"btn-wrapper"  %></p>
      <% end %>
      </div>
  </div>
 </header>
 
 <div class="product">
    <div class="box">
     <p>総合評価ランキング</p>
     <% @ranking.each.with_index(1) do |product, i| %>
     <p><span><%= i %>：</span><%= link_to product.title, product_path(product.id), method: :get %></p>
     <% end %>
    </div>
     <% @products.each do |product| %>
      <div class= "site">
       <img src= <%= product.image_url %> width="150" height="170">
        <p><%= product.title %></p>
        <p><%= link_to"拡大画像", product.image_url, class:"btn-wrapper" %></p>
        <p><%= link_to"詳細", product_path(product.id), class:"btn-wrapper" %></p>
　　  </div>
     <% end %>
 </div>
</body>