<body>
 <header>
  <div class ="container">
    <div class="header-left">
         <h1>漫画詳細画面</h1>
    </div>
  </div>
 </header>
  
   <div class="name"><h2><span>作品名：</span><%= @product.title %></h2></div>
   <img src= <%=@product.image_url %> width="250" height="270" class="image">
  <div class="details">
    <div class="director"><p><span>作者名：</span><%= @product.director %></p></div>
    <div class="naiyo"><span>内容紹介：</span></div>
    <div class="detail"><p><%= @product.detail %></p></div>
  </div>
  <br>
   <div class="comment">
   <p><%= link_to"この作品についてコメントする", "/products/#{@product.id}/comments/new", method: :get, class:"btn-wrapper" %></p>
   <% if user_signed_in? %>
    <% if @product.favorited_by?(current_user) %>
     <p><%= link_to"いいね解除", product_favorites_path(@product.id), method: :delete %></p>
     <p><span>いいねの数：</span><%= @product.favorites.count %></p>
    <% else %>
     <p><%= link_to"いいね", product_favorites_path(@product.id), method: :post %></p>
     <p><span>いいねの数：</span><%= @product.favorites.count %></p>
    <% end %>
   <% else %>
    <p><span>いいねの数：</span><%= @product.favorites.count %></p>
    <% end %>
   </div>
   
  <h3>みんなのレビュー</h3>
  <p><span>平均評価：</span><%= @comments.average(:rate) %></p>
  <% @comments.each do |comment| %>
  <hr>
  <p><span>名前：</span><%= comment.user.nickname %>さん</p>
  <p><span>コメント：</span><%= comment.review %></p>
  <p><span>総合評価：</span><%= comment.rate %></p>
  <% end %>
  <%= link_to"戻る", products_path %>
  </body>